body { 
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;
    background-image: linear-gradient(180deg, rgba(0,130,99,1) 20%, rgba(255,255,255,1) 80%);
}

p {
    font-weight: 100;
}

.text-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.big-svg {
    width: 50%;
    height: 50%;
}



/* Inputs */

.prompt {
    font-size: 1em;
    font-weight: 100;
    opacity: .7;
}

.input-group {
    position: relative;
    padding: 15px 0 0;
    margin: 0 auto;
    width: 100%;
}
.hidden-until-data {
    display: none;
}

/* Table of Arrays vs Objects Info */

  .grid-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "arrays objects"
      "arrays-1 objects-1"
      "arrays-2 objects-2"
      "arrays-3 objects-3"
      "arrays-4 objects-4"
      "arrays-5 objects-5"
      ". ."
      ". .";
  }

  .grid-item{ 
      margin: 2px;
      padding: 10px;
      background-color: rgba(240,240,240,1);
      font-weight: 100;
      height: auto;

  }
  #arrays { grid-area: arrays; }
  #objects { grid-area: objects; }
  #arrays-1 { grid-area: arrays-1; }
  #arrays-2 { grid-area: arrays-2; }
  #arrays-3 { grid-area: arrays-3; }
  #arrays-4 { grid-area: arrays-4; }
  #arrays-5 { grid-area: arrays-5; }
  #objects-1 { grid-area: objects-1; }
  #objects-2 { grid-area: objects-2; }
  #objects-3 { grid-area: objects-3; }
  #objects-4 { grid-area: objects-4; }
  #objects-5 { grid-area: objects-5; }

  #arrays, #objects {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
  }

  .emph {
      color: #008263
  }

  .code {
      font-family:'Courier New', Courier, monospace;
      font-size: .8em;
  }